*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Garamond', serif;
    background-color: #f8f9fa;
    color: #2d3748;
    line-height: 5.0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header
{
    background-color: #1a5f74;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer
{
     margin-top: auto;
    background-color: #1a5f74;
    color: white;
    text-align: center;
}

nav a
{
    background-color: #ffffff;
    font-size: 1.5rem;
}