*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Garamond', serif;
    background-color: #181616;
    color: #2d3748;
    line-height: 5.0;
    min-height: 100vh;
    display: grid;
}

header
{
    border:black solid 4px;
    background-image: url(/assets/img/blacksand.jpg);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer
{
    border:black solid 4px;
    background-image: url(/assets/img/blacksand.jpg);
    margin-top: auto;
    color: white;
    text-align: center;
}

nav a
{
    background-color: #ffffff;
    font-size: 2.0rem;
}

@media screen and (max-width: 768px) 
{
    nav {
        background-color: brown;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px)
{
    main{
        background-color: bisque;
    }
}

@media screen and (any-hover: hover)
{
    nav a:hover {
        background-color: #3ba148e1;
    }
}