*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Garamond', serif;
    background-color: #181616;
    color: #2d3748;
    line-height: 5.0;
    min-height: 100vh;
    display: grid;
}

header
{
    border:black solid 4px;
    background-image: url(/assets/img/blacksand.jpg);
    color: #f1c650;
    padding: 1rem 0;
    text-align: center;
}

footer
{
    border:black solid 4px;
    background-image: url(/assets/img/blacksand.jpg);
    margin-top: auto;
    color: #f1c650;
    text-align: center;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

nav a 
{
    display: block;
    background-color: #3f3d3d;
    color: #f1c650;
    text-decoration: none;
    padding: 2rem 1rem;
    border-radius: 12px;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1.4rem;
    height: 100px;

}


@media screen and (max-width: 768px) 
{
    nav {
        background-color: brown;
    }

    nav ul {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px)
{
    main{
        background-color: bisque;
    }
}

@media screen and (any-hover: hover)
{
    nav a:hover {
        background-color: #3f3d3d;
        border: 10px solid #f1c650;
    }
}
