/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main{
   /* background-image: url(/flexible-grid/assets/img/grid.png);*/
    width: 948px;
    border: 1px solid black;
}

header.primary, footer.primary{
    width: 95.78%;
    margin: 2.109%;
    background-color: lightgray;
    float: left;
}

#blog{
  width: 46.835%;
  float: left;
  background-color: lightblue;
  margin-left: 2.109%;
}

aside{
  width:46.835%;
  float: left;
  background-color: rgb(20, 121, 25);
  margin-left: 2.109%;
}