/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main{
    /*background-image: url(/css-grid-exercise-1/assets/img/grid.png);*/
    width: 80vw;
    margin: 20px auto;
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap:20px;
    padding:20px;
}

header.primary {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: lightgray;
}

footer.primary {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: lightgray;
}

#content {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

#blog{
  grid-column: 1 / 5;  
  grid-row: 1 / 2;
  background-color: lightblue;
}

aside{
    grid-column: 5 / 9;
    grid-row: 1 / 2;
     background-color: rgb(20, 121, 25);
}